.box2 {
    width: 150px;
    height: 150px;
    background: linear-gradient(
        to right,
        red calc(100% - var(--percent)),
        green calc(100% - var(--percent))
    );
    transition: background 0.4s ease-in-out;
}
